<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant app</title>
</head>
<body>

  <a tabindex="1" href="#explore" class="skip-link">Menuju ke konten</a>
  <header>
    <div class="title">
      <img src="./images/logo/logo.webp" alt="logo-gurih">
      <!-- <h1>Gurih Nusantara</h1> -->
    </div>
    <nav class="navbar">
      <a tabindex="2" href="./">home</a>
      <a tabindex="3" href="#explore">explore</a>
      <a tabindex="4" href="#">favorite</a>
      <a tabindex="5" href="#contact">contact</a>
      <a tabindex="6" href="https://s.id/ariafatah">about us</a>
    </nav>
  </header>

  <main>
    <section id="hero">
      <img src="./images/heros/hero-image_2.jpg" alt="">
    </section>

    <div id="explore" class="title">
      <h1 tabindex="7">explore Restaurant</h1>
      <!-- <div>
        <label for="explore-search">search restaurant</label><input id="explore-search" type="text">
      </div> -->
    </div>

    <restaurant-list id="restaurant"></restaurant-list>
  </main>

  <footer tabindex="0">
    <div class="title">
      <h1>Copyright &copy;2024 - Gurih Nusantara</h1>
    </div>
    <div class="footer-content">

    </div>
  </footer>

</body>
</html>