<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant app</title>
</head>
<body>

  <a tabindex="1" href="#explore" class="skip-link">Menuju ke konten</a>
  <header id="home">
    <div class="title">
      <img src="./images/logo/logo.webp" alt="logo-gurih">
      <!-- <h1>Gurih Nusantara</h1> -->
    </div>
    <div class="menu-container">
      <div id="menu" class="menu-icon">☰</div>
    </div>
    <nav id="drawer" class="nav">
      <ul>
        <li><a tabindex="2" href="#">home</a></li>
        <li><a tabindex="3" href="#explore">explore</a></li>
        <li><a tabindex="4" href="#favorite">favorite</a></li>
        <!-- <li><a tabindex="5" href="#contact">contact</a></li> -->
        <li><a tabindex="6" href="https://s.id/ariafatah">about us</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="hero">
      <img src="./images/heros/hero-image_2.jpg" alt="">
    </section>

    <div id="explore" class="title">
      <h1 tabindex="0">explore Restaurant</h1>
      <!-- <div>
        <label for="explore-search">search restaurant</label><input id="explore-search" type="text">
      </div> -->
    </div>

    <restaurant-list id="restaurant"></restaurant-list>

    <div id="favorite" class="title">
      <h1 tabindex="0">favorite Restaurant</h1>
    </div>

    <restaurant-list id="restaurant"></restaurant-list>
  </main>

  <footer-app></footer-app>

</body>
</html>