<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant app</title>
</head>
<body>

  <header>
    <div class="title">
      <img src="./images/logo/logo.webp" alt="logo-gurih">
      <!-- <h1>Gurih Nusantara</h1> -->
    </div>
    <nav class="navbar">
      <a tabindex="1" href="./">Home</a>
      <a tabindex="2" href="#explore">Favorite</a>
      <a tabindex="3" href="https://s.id/ariafatah">About Us</a>
      <!-- <a tabindex="3" href="#">About Us</a> -->
    </nav>
  </header>

  <main>
    <section id="hero">
      <img src="./images/heros/hero-image_2.jpg" alt="">
    </section>

    <div id="explore" tabindex="4" class="title">
      <h1>explore Restaurant</h1>
    </div>
    
    <section id="restaurant">

      <div class="card">
        <div class="card-image">
          <img src="https://restaurant-api.dicoding.dev/images/medium/41" alt="">
        </div>
        <div class="card-content" tabindex="0">
          <h2>Rating: 4.6</h2>
          <h3>Bring Your Phone Cafe</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet</p>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="https://restaurant-api.dicoding.dev/images/medium/07" alt="">
        </div>
        <div class="card-content" tabindex="0">
          <h2>Rating: 4.6</h2>
          <h3>Bring Your Phone Cafe</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet</p>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="https://restaurant-api.dicoding.dev/images/medium/38" alt="">
        </div>
        <div class="card-content" tabindex="0">
          <h2>Rating: 4.6</h2>
          <h3>Bring Your Phone Cafe</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet</p>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="https://restaurant-api.dicoding.dev/images/medium/07" alt="">
        </div>
        <div class="card-content" tabindex="0">
          <h2>Rating: 4.6</h2>
          <h3>Bring Your Phone Cafe</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet</p>
        </div>
      </div>
      
    </section>
  </main>

  <footer tabindex="0">
    <div class="title">
      <h1>Copyright &copy;2024 - Gurih Nusantara</h1>
    </div>
    <div class="footer-content">

    </div>
  </footer>

</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Apps</title>
  </head>
  <body>
    <h1>Restaurant Apps Starter Project</h1>
    <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
    <p>
      Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros
      sebagai background hero elemen.
    </p>
    <img src="./images/heros/hero-image_1.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_3.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_4.jpg" width="450" alt="" />
  </body>
</html> -->
